/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

/* see https://github.com/catppuccin/palette/blob/main/docs/css.md */
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
  --text-size: 14px;
  --icon-size: 14px;

  --text-color-light: rgba(0 0 0 / 95%);
  --text-color-dark: rgba(255 255 255 / 95%);

  --icon-color-light: LightSteelBlue;
  --icon-color-dark: rgba(115 130 175 / 95%);

  --background-color-light: rgba(238 238 238 / 90%);
  --background-color-dark: linear-gradient(
    rgb(0 0 0 / 90%),
    rgb(5 2 20 / 85%)
  );
}

i {
  color: var(--ctp-frappe-surface2);
  margin-right: 7px;
  font-size: var(--icon-size);
}

body {
  color: var(--ctp-frappe-text);
  font-family: ui-monospace, monospace;
  font-size: var(--text-size);
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: var(--ctp-frappe-crust);
  border-bottom: 1px solid rgb(255 255 255 / 5%);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: var(--ctp-frappe-surface0);
  margin-right: 4px;
  padding: 4px 8px;
  color: var(--ctp-frappe-text);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: var(--ctp-frappe-surface2);
  }

  &.focused,
  &:hover {
    background: var(--ctp-frappe-mauve);
    color: var(--ctp-frappe-crust);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: var(--ctp-frappe-surface0);
  color: var(--ctp-frappe-text);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: var(--ctp-mocha-red);
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
